@page
@model CoHO.Pages.EducationLevels.IndexModel

@{
    ViewData["Title"] = "Education Levels";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Education Levels</h1>

<p class="padding">
    <a asp-page="Create">Create New</a>
</p>
<table class="table padding table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel[0].InActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EducationLevel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EducationLevelID">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
