@page
@model CityOfHopeVolunteerTracking.Pages.VolunterrActivities.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].ClockedIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VolunteerActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockedIn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
