@page
@model CoHO.Pages.VolunteerActivities.IndexDetailModel
@{
    ViewData["Title"] = "Detailed Volunteer Hours";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    double totalTime = 0;
    double totalValue = 0;
}

<h1 class="padding">All Hours Detail</h1>
<form method="get">
    <button type="submit" style="margin-left:30px; margin-bottom:20px" 
            asp-page="/VolunteerActivities/Index">
        Return to Summary
    </button>
</form>

<table class="table table-striped table-responsive padding">
    <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Elapsed Time
            </th>
            <th>
                Value of Hour
            </th>
            <th>
                Value of Time
            </th>
            <th>
                Volunteer Name
            </th>
            <th>
                Volunteer Type
            </th>
            <th>
                Race
            </th>
            <th>
                Education Level
            </th>
            <th>
                Community Service
            </th>
            <th>
                Workers Comp
            </th>
            <th>
                Veteran
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.VolunteerActivity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Initiative.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor((modelItem => item.ElapsedTime))
                    @{
                        totalTime += Math.Round(item.ElapsedTime.TotalMinutes/60,2);
                    }

                </td>
                <td>
                    @{var current = @Model.ValueOfHour[0];
                        foreach (var v in @Model.ValueOfHour)
                        {
                            if (v.EffectiveDate <= item.StartTime)
                            {
                                current = v;
                            }
                        }
                    }
                    @Math.Round(current.Value, 2)
                </td>
                <td>
                    @{
                        var value = Math.Round(item.ElapsedTime.TotalMinutes / 60,2) * current.Value;
                        totalValue += value;

                        @String.Concat("$", Math.Round(value, 2));
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.VolunteerType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.Race.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.EducationLevel.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.CommunityService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.WorkersComp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer.Veteran)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.VolunteerActivityID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="padding">Total Time: @Math.Round(totalTime,2) hours</p>
<p class="padding">Total Value: @totalValue.ToString("c")</p>
