@page
@model CoHO.Pages.VolunteerActivities.IndexModel

@{
    ViewData["Title"] = "All Hours";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>All Hours</h1>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].InitiativeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].ClockedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerActivity[0].Volunteer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VolunteerActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InitiativeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor((modelItem => item.ElapsedTime))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.First)
                @Html.DisplayFor(modelItem => item.Volunteer.Last)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VolunteerActivityID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
