@page
@model CoHO.Pages.VolunteerActivities.IndexModel

@{
    ViewData["Title"] = "Volunteer Hours";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">All Hours</h1>
<form method="get">
    <button type="submit" style="margin-left:30px; margin-bottom:20px"
            asp-page="/VolunteerActivities/IndexDetail">
        Show Detail View
    </button>
</form>
<table class="table table-striped table-responsive padding">
    <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Elapsed Time
            </th>
            <th>
                Volunteer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VolunteerActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Initiative.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor((modelItem => item.ElapsedTime))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.FullName)
             </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VolunteerActivityID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
