@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Create new account</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
   
            <div class="form-group">
                <label asp-for="Volunteer.First" class="control-label"></label>
                <input asp-for="Volunteer.First" class="form-control" />
                <span asp-validation-for="Volunteer.First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Last" class="control-label"></label>
                <input asp-for="Volunteer.Last" class="form-control" />
                <span asp-validation-for="Volunteer.Last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Email" class="control-label"></label>
                <input asp-for="Volunteer.Email" class="form-control" />
                <span asp-validation-for="Volunteer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Home" class="control-label"></label>
                <input asp-for="Volunteer.Home" class="form-control" />
                <span asp-validation-for="Volunteer.Home" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Cell" class="control-label"></label>
                <input asp-for="Volunteer.Cell" class="form-control" />
                <span asp-validation-for="Volunteer.Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerTypeID" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerTypeID" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerTypeID" class="text-danger"></span>
            </div>
                 <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.InActive" /> @Html.DisplayNameFor(model => model.Volunteer.InActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.CommunityService" /> @Html.DisplayNameFor(model => model.Volunteer.CommunityService)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.WorkersComp" /> @Html.DisplayNameFor(model => model.Volunteer.WorkersComp)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.Admin" /> @Html.DisplayNameFor(model => model.Volunteer.Admin)
                </label>
            </div>
















            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
