@page
@model CityOfHopeVolunteerTracking.Pages.Volunteers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <hr />

    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.UserName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.UserName)
                    </dd>
                    @Html.DisplayNameFor(model => model.Volunteer.First)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.First)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Last)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Last)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Home)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Home)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Cell)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Cell)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Type)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Type)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Password)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Password)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.InActive)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.InActive)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.CommunityService)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.CommunityService)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.WorkersComp)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.WorkersComp)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Volunteer.Admin)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Volunteer.Admin)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Type</th>
                            <th>Work Comp</th>
                            <th>Com Serv</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Volunteer.ID">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
