@page
@model CoHO.Pages.Volunteers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Volunteer Details</h1>
<div class="container.fluid">
    <div class="row">
        <div class="col-4">
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.First)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.First)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Last)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Last)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Birthday)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Birthday)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Email)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Home)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Home)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Cell)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Cell)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Race)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Race.Description)
                </dd>
                <dt class="col-sm-6">
                    Volunteer Type
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.VolunteerType.Description)
                </dd>
                <dt class="col-sm-6">
                    Education Level
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.EducationLevel.Description)
                </dd>


                <dt class="col-sm-6">
                    Inactive
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.InActive)
                </dd>
                <dt class="col-sm-6">
                    Community Service
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.CommunityService)
                </dd>
                <dt class="col-sm-6">
                    Workers Comp
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.WorkersComp)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Veteran)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Veteran)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Volunteer.Admin)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Volunteer.Admin)
                </dd>

            </dl>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Volunteer.VolunteerID">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
        <div class="col-8">
            <table class="table table-striped table-responsive padding">
                <thead>
                    <tr>
                        <th>
                            Initiative
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            End Time
                        </th>
                        <th>
                            Elapsed Time
                        </th>
                        <th>
                            Volunteer Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Activities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Initiative.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor((modelItem => item.ElapsedTime))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Volunteer.FullName)
                            </td>
                            <td>
                                <a asp-page="/VolunteerActivities/Edit" asp-route-id="@item.VolunteerActivityID">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
