@page
@model CityOfHopeVolunteerTracking.Pages.Volunteers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Volunteer</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Home)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Cell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Active)
            </th>
            <th>
               Community Service
            </th>
            <th>
                Worker's Comp
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Volunteer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunityService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkersComp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
